body {
  font-family: Helvetica;
  background-color: #F6F6F6;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /*eliminates white space issue on the right*/
  /*background-color: #fff;*/
  background-color: #F6F6F6;
}

/*WELCOME CARD*/
#error-card, #welcome-card, .loading_status {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  font-family: 'Play', sans-serif;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#msg-wrapper, #welcome-msg-wrapper {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  padding: 30px;
}
#msg-wrapper h4 { 
  font-weight: 600;
  margin: 30px 0 15px 0;
  /*color: #337AB7;*/
}

.logo-wrapper {
  width: 130px; 
  height: 130px; 
  margin: 0 auto;
  border: 1px solid #d3d3d3;
  padding: 30px;
  border-radius: 100%; 
  background-color: #F6F6F6;
}
.logo-wrapper img {
  border-radius: 100%; 
  width: 100%; 
  height: 100%;
  vertical-align: middle;
}
#error-card h6, #welcome-card h6 {
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #454545;
  margin: 0 0 15px;
}
#lct_btn {
  font-weight: 600;
  border: 3px solid #337AB7;
  border-radius: 4px;
  padding: 12px;
  background-color: transparent;
}
#lct_btn:hover {
  background-color: #337AB7;
  color: #fff;
}
/*HEADER*/
header.container-fluid {
  background-color: #201D19;

/*  
  background-image:
  linear-gradient(
  to right, 
  #3A1308, 
  #CA8A66,
  #8F522A
  );
*/

}
header {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  margin: 0 auto;
  /*padding: 0 0 10px;*/
}
#logo_column {
  width: 220px;
  height: 70px;
  padding: 0;
  margin: 0 auto;
  vertical-align: center;
  text-align: center;
  /*border-radius: 100%;*/
}
p {
   color: #666;
   padding: 0;
   margin: 0 0 0 14px;
}
div.geoL-wrapper {
  display: flex;
  justify-content: center; /*X axis*/
  align-items: center; /*Y axis*/
  padding: 0px;
  margin-left: 6px;
  border: none;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  background-color: #337ab7;

}
i.lct-icon {
  margin: 0; /* t, r, b, l*/
  width: 18px;
  height: 18px;
  color: #DDD;
} 
div.ui-column {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  padding: 0;
  /*width: 600px;*/
  /*position: relative;*/
}
.no-gutters>[class*=col-] {
  /*padding-right: 0;*/
  /*padding-left: 0; */
  /*padding: 0 0 0 100px;*/
}
div.ui-src-wrapper {
  display: flex;
  align-items: center; /*Y axis*/
  margin: 0 2px;
  padding: 0 2px;
  /*border-radius: 2px;*/
  /*width: 300px;*/
  /*border: 1px solid green;*/
  position: relative;
}
input#ui-query {
  padding: 2px 2px 2px 38px;
  margin: 2px 0px 2px 4px;
  width: 100%;
  border: none;
  /*border-radius: 2px;*/
  height: 40px;
  font-size: 15px;
  /*background: url(../images/search-icon.png) no-repeat;*/
  background-color: #fff;
}
div.ui-src-wrapper label {
  position: absolute;
}
div.ui-src-wrapper i.src-icon {
  margin: 3px 0 3px 14px; 
  width: 18px;
  height: 18px;
  color: #636363;
}
div.ui-btn-wrapper {
  width: 100px;
  height: 40px;
  margin: 4px 6px 4px 4px;
}
input#ui-btn {
  width: 100%;
  height: 100%;
  border: none;
  /*border-radius: 2px;*/
  font-weight: 600;
  letter-spacing: 2px;
  color: #2E2A24;
  background-color: #F9D094;
  opacity: 0.8;
}
i.lct-icon:hover, input#ui-btn:hover {
  opacity: 1;
}


/*BODY*/
#main-content {
  margin: 0;
  padding: 0;
}
section#midSection {
  margin: 0;
  height: auto;
  background-color: #F6F6F6;
  padding: 0;
}
.mid-content {
  margin-bottom: 30px;
}
div#map-wrapper {
  height: 500px;
  background-color: #F6F6F6;
  padding: 0;
}
div#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*info window content*/
.see-reviews-btn {
  background-color: #D9FEA2;
  padding: 8px 14px;
  /*border-radius: 2px;*/
  color: #E7711B;
  /*font-weight: 600;*/
  /*text-transform: uppercase;*/
  opacity: 0.8;
}
.see-reviews-btn:hover {
  text-decoration: none;
  color: #D26719;
  opacity: 1;
}
/*New restaurant styles*/
#ui-newRest-name, #ui-newRest-address, #ui-newRest-website, #ui-newRest-telephone, button {
  width: 95%;
  padding: 4px;
  margin: 4px;
  color: #524A65;
}
/*div#rattings-wrapper {
  display: block;
  background-color: #D9D8D7;
  margin: 0 0 30px;
  text-align: center;
  padding: 10px 0;
  color: #636363;
  letter-spacing: 1px;
}*/
#rattings-wrapper label {
  margin-bottom: 0;
}
select {
  width: 150px;
  height: 30px;
  margin-left: 10px;
  color: #868686;
  background-color: #fff;
  /*border-radius: 2px;*/
  border: 1px solid #d3d3d3;
  font-size: 14px;
}
div.restaurants-list-wrapper {
  display: flex;
  margin: 0 auto;
}
/*ul.restaurant-list {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  height: 420px;
  overflow: auto; 
  margin-bottom: 0px;
}*/
.restaurant-list li:last-child {
  margin-bottom: 0px;
}
ul.restaurant-list li:hover  {
  background-color: #D9FEA2;
}
.selected {
  /*background-color: #D9FEA2;*/ /*did not work*/
  border-right: 3px solid #91CA00;
}
.restaurant-list li a {
  text-decoration: none;
}
div.restaurant-pic-wrapper img {
  width: 100%;
  height: 100%;
}
div.restaurant-brief-wrapper {
  padding: 6px 10px;
  letter-spacing: 0.5px;
}
div.restaurant-brief-wrapper h5 {
  margin: 0 0 5px 0;
  font-weight: 600; 
  color: #91CA00; 
  display: block;
}
div.restaurant-brief-wrapper p {
  margin: 0;
}

/*Star rating*/
.star-wrapper {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: column; /*Y axis*/
  align-items: center; /*similar to text-align: center*/
}
.fa-star {
  color: #F25F5C;
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 5px;
}
.star-rating {
  font-color: #fff;  
  font-weight: 600;
  width: 20px;
  height: 20px;
  position: absolute;
  text-align: center; /*centers the number 5 horizontally*/ 
  top: 10px;
}


/*BOTTOM SECTION*/
#bottomSection {
  padding: 30px;
  background-color: #201D19;
  border-top: 5px solid #F9D094;
}
.rest-info-wrapper {
  padding: 10px;
  background-color: #fff;
}
.rest-info {
  padding: 0px;
  margin: 0;
  width: 100%;
}
#rest-brief-wrapper, #street-view-wrapper {
  padding: 20px 20px 0;
}

#rest-reviews-wrapper {
  background-color: #F6F6F6;
  padding: 20px 30px 0;
}
button.open-button {
  width: 100%;
  height: 100%;
  padding: 2px 10px;
  margin: 0;
  border: none;
  background-color: #F9D094;
  color: #2E2A24;
  font-weight: 600;
}
#rest-reviews-inner-wrapper {
  display: flex;
}
#street-view-wrapper {
  height: 400px;
}
#street-view {
  height: 100%;
  width: 100%;
}
/*reviews*/
#side-nav {
  display: flex;
  justify-content: center;
}
.form-wrapper {
  /*border: 1px solid red;*/
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 25px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);

}
form #full-name, form label, select#score, form textarea, #add-review-btn, #close-review-btn {
  padding: 8px;
  margin: 0 16px 16px;
  /*border-radius: 2px;*/
  color: #666;
}
form #full-name, form textarea {
  width: 100%;
  border: 1px solid #d3d3d3;
}
form label {
  margin-right: 3px;
  color: #636363;
}
select#score {
  height: 42px;
  /*width: 15%;  */
  /*text-align: center;*/
}
form input#close-review-btn {
  border: none;
  height: 42px;
  padding: 8px 16px;
  /*border-radius: 2px;*/
  float: left;
  color: #444;
  background-color: #FACACA;
  float: right;
}
form input#add-review-btn {
  padding: 8px 16px;
  height: 42px;
  border: none;
  color: #444;
  background-color: #D9FEA2;
}
form input#close-review-btn, form input#add-review-btn {
  opacity: 0.8;
}
form input#close-review-btn:hover, form input#add-review-btn:hover {
  opacity: 1;
}
#rest-reviews {
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#rest-reviews ul {
  padding: 0;
  margin-bottom: 0;
  
}
#rest-reviews li {
  list-style-type: none;
}
.review_item { /*dynamically creted*/
  display: block;
  background-color: white;
  padding: 10px;
  margin: 15px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}
.review-item-top p {
  display: inline-block;
  margin-left: 0px;
}
.review-item-body p {
  margin: 0; 
  padding: 2px 0 0; 
}

/*FOOTER*/
#footer {
  display: flex;
  justify-content: center; /*x*/
  align-items: center; /*y*/
  padding: 20px;
  color: #2E2A24;
  background-color: #F9D094;
  letter-spacing: 1px;
  word-spacing: 1px;
}
#footer h6 {
  text-align: center;
  padding: 0;
  margin: 0;
  /*text-shadow: -0.5px 0 white;*/
}
#footer a {
  color: #2E2A24;
  font-weight: 600;
}
#site-btn {
  background-color: #D9FEA2;
  padding: 10px 15px;
  /*border-radius: 2px;*/
  border: none;
  color: #444;
  opacity: 0.8;
}
#site-btn:hover {
  opacity: 1;
}
.bt-align-x {
  text-align: left;
  text-decoration: none;
}

/*MEDIA QUERIES*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) { 
  
  .restaurant-brief-wrapper h5 {
    font-size: 1rem; 
  }
  .ui-column {
    padding: 0;
  }
  
}

@media only screen and (min-width: 411px) and (max-width: 414px){ 

  .mb-display {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
}
/* Small devices (landscape phones, 576px and below)*/
@media (max-width: 576px) { 
  #restaurants-wrapper {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 767px) { 
  header {
    padding: 0 0 15px;
  }
  #map-wrapper {
    padding: 15px;
  }
  div#rattings-wrapper {
    display: block;
    background-color: #D9D8D7;
    margin: 0 0 30px;
    text-align: center;
    padding: 10px 0;
    color: #636363;
    letter-spacing: 1px;
  }
  #rest-reviews-inner-wrapper {
    display: flex;
    flex-direction: column;
  }
  #restaurants-wrapper {
    margin: 0;
    padding: 0;
  }
  #rest-brief-wrapper { 
    order: 2; 
  }
  #bt-align-x {
    text-align: center;
  }
  ul.restaurant-list li {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    /*box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1); /* [h offset] [v offset] [blur radius] [spread distance] [color] */
  }
  /*STYLES FOR MOBILE CAROUSEL*/
/*  .carousel-cell {
    width: 100%; 
    height: 160px; 
    margin-right: 10px;
  }*/
  .main-carousel {
    display: flex; /*horizontal alignment*/
    overflow-x: auto; /*scrolling*/
    overflow-y: hidden; /*scrolling*/
    -webkit-overflow-scrolling: touch; /* make it smooth on iOS */
    /* ... */
    /* each slide snaps into place */
    scroll-snap-points-x: repeat(240px);
    scroll-snap-type: mandatory;
    padding: 0;
    margin: 0;
  }
  .main-carousel > li {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 100%;
    margin-right: 15px;
    height: 260px;
  }
  .restaurant-list li:last-child {
    margin-bottom: 0px;
  }
  .restaurant-pic-wrapper, .restaurant-pic-wrapper img {
    display: flex;
    width: 100%;
    padding: 0;
  }
 #get_LI_Photo, #get_LI_Icon, /*google Place HTML elem attributes*/ #photoURL, #iconIMG {
    width: 100%; height: 160px;
  }
  .selected {
    border: none;
    border-bottom: 3px solid #91CA00;
  }
  #bottomSection {
    padding: 30px 10px;
  }
  div.restaurants-list-wrapper {
    padding: 0 15px;
  }
  .restaurant-list li:last-child {
    margin-bottom: 15px;
    /*overflow: none;*/
  }
  .modal-content {
    width: 90%;
    border: none;
  }

}

@media (min-width: 768px) { 
  header {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  div#rattings-wrapper {
    display: block;
    background-color: #D9D8D7;
    margin: 0 0 30px;
    text-align: center;
    padding: 10px 0;
    color: #636363;
    letter-spacing: 1px;
  }
  div#restaurants-wrapper { 
    text-align: left;
    padding: 0 0 0 15px;;
    background-color: #F6F6F6;
  }
  div.ui-src-wrapper {
    width: 300px;
  }
  .mb-display {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
   #logo_column {
    display: inline-block;
    margin: 0 0 0 50px;
  }
  .ui_column {
    margin: 0 auto;
    display: inline-block;
  }
  .col-hg {
    height: 400px;
  }
  .restaurant-pic-wrapper {
    display: flex;
    margin: 0;
    padding: 0 5px 0 0;
    width: 120px;
    /*height: 80px;*/
  }
  ul.restaurant-list {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    height: 420px;
    overflow: auto; 
    margin-bottom: 0px;
  }
  ul.restaurant-list li {
    list-style-type: none;
    width: 100%;
    display: flex;
    background-color: #fff;
    padding: 0;
    margin-bottom: 15px;
    /*box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);  [h offset] [v offset] [blur radius] [spread distance] [color] */
  }
  .restaurant-list li a {
    display: flex;
    text-decoration: none;
    width: 100%;
  }
  #get_LI_Photo, #get_LI_Icon, /*google Place HTML elem attributes*/ #photoURL, #iconIMG {
    width: 115px; height: 80px;
  }
  .selected { 
    border-right: 3px solid #91CA00;
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: none;
    width: 60%; 
  }
  
}
/*
@media only screen and (max-width: 319px) {
  .container-fluid {
    padding: 0;
  }
  input#ui-btn {
    font-size: .085em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  header {
    padding: 10px 0;
  }

  input#ui-query {
   width: 200px;
  }
  #midSection {

    padding: 10px;
  }
  div#map-wrapper {
    margin: 0;
    padding: 0;
    border-bottom: 4px solid #fff;
  }
  #rattings-wrapper {
    margin-top: 20px;
  }
  ul.restaurant-list {
    margin: 0;
  }
  #noRev {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  input#ui-query {
    width: 220px;
  }
  div#map-wrapper {
    margin: 10px 10px;
    padding: 0;
  }
}

*/
.see_reviews_wrapper {
  display: flex; justify-content: center; padding: 4px 0;
}

.see_reviews_p {
  font-size: 15px; font-weight: 400; padding: 0px; margin: 12px 0;
}


/*Add New Restaurant styles*/
.nr_popup_wrapper {
  width: 260px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.nr_inner_wrapper {
  width: 250px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}
h5.nr_heading {
  font-size: 1rem; 
  margin: 5px 0; 
  font-weight: 600; 
  color: #91CA00;
}
#ui-newRest-name, #ui-newRest-address, #ui-newRest-telephone, #ui-newRest-website {
  width: 95%;
  padding: 5.5px;
  margin: 5px 0;
  color: #524A65;
  border: 1px solid #A9A9A9;
  font-size: 13px;
  /*border-radius: 0px;*/
}
.nr_btn {
  font-size: 15px; 
  padding: 5.5px;
  margin: 5px 0;
  width: 95%; 
  border: none; 
  /*border-radius: 0px; */
  color: #444; 
  background-color: #D9FEA2;
  opacity: 0.8;
}
.nr_btn:hover {
  opacity: 1;
}
/* The Modal (background) */
#modalWrapper {  
  left: 0;
  top: 0;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 100vh;
  position: fixed; 
  z-index: 1;
  /*overflow: auto; */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);  
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s  
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0} 
  to {top: 0; opacity: 1}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
/* Modal Content */
/*.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}*/


/*MAP STYLES*/
/*no border-radius styles*/
.gm-style .gm-style-iw-c {
  border-radius: 0px;
  /*border: 1px solid red;*/
}
.gm-style-iw-d {
  /*border: 1px solid orange;*/
  width: 
}
.popup_cttWrapper {
  /*border: 1px solid green;*/
  padding: 0;
  margin: 14px 0 4px 6px; 
}
.modal-content {
  border-radius: 0px;
}

#iconIMGL {
  padding: 6px 0;
}

